<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxflex="1000px">
    <form #clientsForm="ngForm" (ngSubmit)="save()" class="mt-60" >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Formulario de Cadastro</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div
            fxLayout="row"
            fxLayoutAlign="start"
            fxLayoutGap="10px"
            class="full-width"
          >
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome: *</mat-label>
                <input type="text" [(ngModel)]="client.name" name="name" matInput placeholder="Ex: José Silva" />
              </mat-form-field>
            </div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start"
            fxLayoutGap="10px"
            class="full-width"
          >
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Email: *</mat-label>
                <input type="email" [(ngModel)]="client.email" name="email" matInput placeholder="Ex: jose@silva.com" />
              </mat-form-field>
            </div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start"
            fxLayoutGap="10px"
            class="full-width"
          >
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>CPF: *</mat-label>
                <input type="text" [(ngModel)]="client.cpf" name="cpf" matInput placeholder="Ex: 123.456.789-00" />
              </mat-form-field>
            </div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start"
            fxLayoutGap="10px"
            class="full-width"
          >
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Data de nascimento: *</mat-label>
                <input type="text" [(ngModel)]="client.birthDate" name="birthDate" matInput placeholder="Ex: 12/12/2000"/>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-flat-button color="primary">
            <mat-icon fontIcon="save" />
            Salvar
          </button>
          <button type="submit" mat-flat-button color="accent">
            <mat-icon fontIcon="update" />
            Atualizar
          </button>
          <button mat-flat-button color="warn" class="ml-5">
            <mat-icon fontIcon="delete" />
            Limpar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
